@import url('https://fonts.googleapis.com/css?family=Poppins');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.liczenie {
    font-size: 2em;
    color: #000;
    user-select: none;
}

.navigation .btn-popup {
    width: 130px;
    height: 50px;
    background: red;
    border: 2px solid #000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size:  1.1em;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btn2-popup {
    width: 130px;
    height: 50px;
    background: red;
    border: 2px solid #000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size:  1.1em;
    color: #000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btn-popup:hover {
    background: #FFF;
    color: #000;

}

.wrapper1 {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 4px solid rgba(0,0,0, .5);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: .5s ease;
    height: .2s ease;
}

.wrapper1.active-popup {
    transform: scale(1);
}

.wrapper1 .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    z-index: 1;
}

.wrapper2 {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 4px solid rgba(0,0,0, .5);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: .5s ease;
    height: .2s ease;
}

.wrapper2.active-popup {
    transform: scale(1);
}

.wrapper2 .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    z-index: 1;
}

.from-popup {
    width: 100%;
    padding: 40px;
}


.from-popup h2 {
    font-size: 3em;
    color: #000;
    text-align: center;
}

.zawartosc {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

h1 {
    background-color: rgba(230, 130, 25, 0.2);
    height: 150px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    border: 15px black;
    border-color: black;
    border-width:medium;
    color: mediumseagreen;
    

}


.divs .inside1 {
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    font-weight: bold;
    text-shadow: 1px 2px 2px blue, 0 0 25px white, 0 0 5px white;
    display: inline-block;
    border: 5px solid white;
    border-radius: 10px;
    font-family: cursive;
    font-size: 200%;
    text-align: center;
    align-items: center;
    float: left;
    width: 19%;
    padding: 2px;
}

.divs .inside2 {
    background-color: rgba(255, 255, 255, .8);
    font-weight: bold;
    text-shadow: 1px 2px 2px blue, 0 0 25px white, 0 0 5px white;
    border: 5px solid white;
    border-radius: 10px;
    font-family: cursive;
    font-size: 200%;
    text-align: center;
    align-items: center;
    float: left;
    width: 19%;
    margin-left: 1.25%;
    padding: 2px;
}

.divs1 {
    background-color: rgba(255, 255, 255, .8);
    font-weight: bold;
    text-shadow: 1px 2px 2px blue, 0 0 25px white, 0 0 5px white;
    width: 100%;
    padding: 2px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 10px;
    font-family: cursive;
    font-size: 200%;
    text-align: center;
   }
